.title-adm{
align-items: center;
margin-top: 20px;
font-size: 18px;
display: flex;
flex-direction: column;
align-items: center;

}

.line1{
    justify-content: center;
    width:15%;
    border-bottom: solid 2px #6cbc84;
    margin-top: -25px;
}

.title h1{
    font-size: 32px;
    margin-top: 20px;

}

.container-menu{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    justify-content: center;
}

.card-admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 150px;
    height: 130px;
    border: 2px solid #ffff;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: 0.4s;
}

.card-admin p strong{
    font-size: 15px;
    color: white;
    
}

.card-admin:hover{
    translate: 0 -10px;
    border-color: #6cbc84;
    
    .cad-user{
        color: #6cbc84;
    }
    
  strong{
    color: #6cbc84;
  }
        
}

.cad-user{
    font-size: 50px;
    color: white;
}