/* src/Menu.css */
.menu-container {
  background-color: #333;   
  padding: -1px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.menu-list {
  list-style: none;

  padding: 0px;
  margin: 5px;
  display: flex;
  border-radius: 5px;
  background-color: #444;
  flex-direction: column;
  position: fixed; /* Fixar o menu na posição especificada */
  top: 100px; /* Posiciona a 20px do topo */
  width: 350px;
  align-items: center;
  right: 10px; /* Posiciona a 20px do lado direito da tela */
  z-index: 10;

}

.menu-list li {
  margin-right: 10px;
}



.menu-list button:hover {
  text-decoration: underline;
}

.menu-list button {
  width: 100%;
  margin: 2px;
  background: none;
  border: none;
  color: #FFF;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


.line3{

width: 95%;
border-bottom: 2px solid #6cbc84;
border-radius: 2px; 
}